body {
  background-color: #3A3D40;
  color: black;
}

#im1 {
  border: 2px solid black;
  display: block;
  width: 90%;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
}

#banh1 {
  color: #A10C21;
  font-weight: bold;
  font-family: 'Sumana', serif;
  font-style: italic;
  font-size: 6em;
  text-shadow: 0px 5px 0px black;
}

#mainBody {
  background-color: #525559;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}

#bq1 {
  font-style: italic;
  color: white;
  margin-top: 5%;
  text-align: justify;
  border-right: 5px solid;
  border-color: #A10C21;
}

footer p {
  text-align: center;
  color: white;
  margin-top: 1%;
}

#canada {
  text-align: left;
  color: #A10C21;
  text-shadow: 0px 0px 3px black;
}

#a-can {
  color: black;
  text-shadow: 0px 0x 5px #A10C21;
}
